<tr id="expense-newrow">
    <td id="expense-date">{{date}}</td>
    <td id="expense-place">{{place}}</td>
    <td id="expense-amount">{{amount}}</td>
    <td id="expense-description">{{descrip}}</td>
    <td id="expense-category">{{category}}</td>
</tr>
