<tr class="expense-row">
    <td class="expense-date">{{date}}</td>
    <td class="expense-place">{{place}}</td>
    <td class="expense-amount">{{amount}}</td>
    <td class="expense-description">{{descrip}}</td>
    <td class="expense-category">{{category}}</td>
</tr>
