<tr id="expense-newrow">
    <td id="expense-date">{{Date}}</td>
    <td id="expense-place">{{Place}}</td>
    <td id="expense-amount">{{Amount}}</td>
    <td id="expense-description">{{Description}}</td>
    <td id="expense-category">{{Category}}</td>
</tr>